  <%if user_signed_in?%>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= form_with model: @used_sparepart, url: used_spareparts_path, local: true do |f| %>
          <%= f.select(:sparepart_id, options_from_collection_for_select(Sparepart.all, :id, :sparepart_name), { :class => "form-control", :prompt => "Select sparepart" }) %>
          <div class="form-group">
            <%= f.label :quantity %><br/>
            <%= f.text_field :quantity, min: 0,class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :booking_id %><br/>
            <%= text_field_tag :booking_id%>
          </div>
          <%= f.submit "create", class: "btn btn-primary" %>
        <%end%>
        <%= link_to 'back', service_center_admins_path %>
      </div>
    </div>
  </div>
<% else %>
  <h3>Please login!!!!!!!!</h3>
  <h3>If you are new user then sign up</h3>
  <%= link_to "sign in", new_user_registration_path %>
  <%= link_to "sign in", new_user_session_path %>
<% end %>
