<% if user_signed_in? %>
<%= link_to "edit profile", edit_user_registration_path %><br /><br />
<%= link_to "display companies", companies_path %><br /><br />
<%= link_to "display service centers", service_centers_path %><br /><br />
<%= link_to "display service center admins", service_center_admins_path %><br /><br />
<%= link_to "display company admins", company_admin_index_path %><br /><br />
<%= link_to "signout", destroy_user_session_path, method: :delete %>
<% else %>
<h3>Please login!!!!!!!!</h3>
<h3>If you are new user then sign up</h3>
<%= link_to "sign in", new_user_registration_path %>
<%= link_to "sign in", new_user_session_path %>
<% end %>
