<% if user_signed_in? %>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-to justify-content-between">
  <ul class="navbar-nav">
    <li class="navbar-brand">
      <span class="nav-link"><%= link_to "edit profile", edit_user_registration_path %></span>
    </li>
    <li class="navbar-brand">
      <span class="nav-link"><%= link_to "display company admins", company_admin_index_path %></span>
    </li>
    <li class="navbar-brand">
     <span class="nav-link"> <%= link_to "display companies", companies_path %></span>
    </li>
    <li class="navbar-brand">
     <span class="nav-link"> <%= link_to "display service centers", service_centers_path %></span>
    </li>
    <li class="navbar-brand">
     <span class="nav-link"> <%= link_to "display service centers admin", service_center_admins_path %></span>
    </li>
    <li class="navbar-brand">
     <span class="nav-link"> <%= link_to "signout", destroy_user_session_path, method: :delete %></span>
    </li>
    </ul>
</nav>
<% end %>
