<div class="heading">
<h1>Welcome To Service Eagle</h1>
</div>
<div class="container">
  <h2>Sign up</h2>
  <div class="row">
    <div class="col-md-6">
      <%= form_for(resource, as: resource_name, validate: true, url: registration_path(resource_name)) do |f| %>
      <% if resource.errors.full_messages.any? %>
      <% resource.errors.full_messages.each do |error_message| %>
      <%= error_message if @user.errors.full_messages.first == error_message %> <br />
      <% end %>
      <% end %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :firstname %><br />
        <%= f.text_field :firstname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :lastname %><br />
        <%= f.text_field :lastname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, placeholder: "name3" %>
      </div>

      <div class="field">
        <%= f.label :contact %><br />
        <%= f.text_field :contact, autofocus: true, placeholder: "+91-123 456 789" %>
      </div>


      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "service.eagle@gmail.com" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-outline-success my-2 my-sm-0" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>