<% if user_signed_in? and current_user.has_role? :super_admin %>
  <div class="container">
    <%= link_to "add company", new_company_path %><br/>
    <br/>
    <br/>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>company name</th>
          <th scope='col'>website</th>
          <th scope='col'>email</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
            <th scope='row'><%= company.name %></th>
            <th scope='row'><%= company.website %></th>
            <th scope='row'><%= company.email %></th>
            <th scope='row'><%= link_to "edit", edit_company_path(company.id) %></th>
            <th scope='row'><%= link_to "delete", company_path(company.id), data: { method: :delete } %></th>
          </tr>
        <% end %>
      </tbody>
      <%= link_to "dashbord", super_admins_path %>
    </div>
  <% else %>
    <h3>Please login!!!!!!!!</h3>
    <h3>If you are new user then sign up</h3>
    <%= link_to "sign in", new_user_registration_path %>
    <%= link_to "sign in", new_user_session_path %>
  <% end %>
