<% if current_user.has_role? :super_admin %>
<%= render "superadmin_nav" %>
<div class='booked-appointment-index_page'>
  <div class="container">
    <br />
    <br />
    <br />
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>company name</th>
          <th scope='col'>website</th>
          <th scope='col'>email</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |company| %>
        <tr>
          <th scope='row'><%= company.name %></th>
          <th scope='row'><%= company.website %></th>
          <th scope='row'><%= company.email %></th>
          <th scope='row'><%= link_to "edit", edit_company_path(company.id) %></th>
          <th scope='row'><%= link_to "delete", company_path(company.id), data: { method: :delete } %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>