<%if user_signed_in?%>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= form_with model: @company, local: true do |c| %>
          <div class="form-group">
            <%= c.label :booking_id %><br />
            <%= c.text_field :booking_id, placeholder: "eg.dddkff2250" %>
          </div>
          <div class="form-group">
            <%= c.label :is_payment_received %><br />
            <%= c.text_field :is_payment_received, placeholder: "true" %>
          </div>
          <div class="form-group">
            <%= c.label :service_charge %><br />
            <%= c.text_field :service_charge%>
          </div>
          <div class="form-group">
            <%= c.label :total %><br />
            <%= c.text_field :total%>
          </div>
           <%= f.submit "create admin", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h3>Please login!!!!!!!!</h3>
  <h3>If you are new user then sign up</h3>
  <%= link_to "sign in", new_user_registration_path %>
  <%= link_to "sign in", new_user_session_path %>
<% end %>
