  <% if current_user.has_role? :super_admin %>
  <%= render "superadmin_nav" %>
  <% elsif current_user.has_role? :company_admin %>
  <%= render "companyadmin_nav" %>
  <% end %>
  <div class='booked-appointment-index_page'>
    <div class='container'>
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>service center name</th>
            <th scope='col'>area</th>
            <th scope='col'>city</th>
            <th scope='col'>state</th>
            <th scope='col'>pincode</th>
            <th scope='col'>email</th>
          </tr>
        </thead>
        <tbody>
          <% @centers.each do |center| %>
          <tr>
            <td scope='row'><%= center.name %></td>
            <td scope='row'><%= center.city %></td>
            <td scope='row'><%= center.area %></td>
            <td scope='row'><%= center.state %></td>
            <td scope='row'><%= center.pincode %></td>
            <td scope='row'><%= center.email %></td>
            <td scope='row'><%= link_to "edit", edit_service_center_path(center.id) %></td>
            <td><%= link_to "delete", service_center_path(center.id), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  