<% if current_user.has_role? :super_admin %>
<%= render "superadmin_nav" %>
<% elsif current_user.has_role? :company_admin %>
<%= render "companyadmin_nav" %>
<% end %>
<div class='booked-appointment-index_page'>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= form_with model: @new_center, url: service_centers_path, validate: true, presence: true, local: true do |f| %>
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, placeholder: "petal honda" %>
        </div>

        <div class="form-group">
          <%= f.label :area %><br />
          <%= f.text_field :area, placeholder: "maninagar" %>
        </div>

        <div class="form-group">
          <%= f.label :city %><br />
          <%= f.text_field :city, placeholder: "ahmedabad" %>
        </div>

        <div class="form-group">
          <%= f.label :state %><br />
          <%= f.text_field :state, placeholder: "gujrat" %>
        </div>

        <div class="form-group">
          <%= f.label :pincode %><br />
          <%= f.text_field :pincode, placeholder: "380008" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.text_field :email, placeholder: "petal.servicecenter@honda.com" %>
        </div>
        <%= f.submit class: "btn btn-primary" %>
        <%end%>
      </div>
    </div>
  </div>
</div>