<%if user_signed_in? and current_user.has_role? :super_admin%>
<div class='container'>
  <%= link_to 'add company admin', new_company_admin_path%><br /><br />
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>first name</th>
        <th scope='col'>lastname</th>
        <th scope='col'>username</th>
        <th scope='col'>email</th>
        <th scope='col'>contact</th>
      </tr>
    </thead>
    <tbody>
      <%@company_admin.each do |admin|%>
      <tr>
        <td scope='row'><%=admin.firstname%></td>
        <td scope='row'><%=admin.lastname%></td>
        <td scope='row'><%=admin.username%></td>
        <td scope='row'><%=admin.email%></td>
        <td scope='row'><%=admin.contact%></td>
        <td scope='row'><%= link_to 'edit', edit_company_admin_path(admin.id) %></td>
        <td scope='row'><%= link_to 'delete', company_admin_path(admin.id), data:{method: :delete}%></td>
      </tr>
      <%end%>
    </tbody>
    <%= link_to 'dashbord', super_admins_path %>
</div>
<%elsif user_signed_in? and current_user.has_role? :company_admin%>
<%= link_to 'display service centers',    service_centers_path %><br /><br />
<%= link_to 'display service center admins', service_center_admins_path %><br /><br />
<%= link_to 'edit', edit_user_registration_path(current_user.id) %><br /><br />
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<%else%>
<h3>Please login!!!!!!!!</h3>
<h3>If you are new user then sign up</h3>
<%= link_to 'sign in', new_user_registration_path %>
<%= link_to 'sign in', new_user_session_path %>
<%end%>